@import "config";
@import "nav";

// animation
@keyframes contactAnimation1 {
	0% {
		margin-left: -1000px;
	}

	100% {
		margin-left: 140px;
	}
}

@keyframes contactAnimation2 {
	0% {
		margin-left: 2000px;
	}

	100% {
		margin-left: 210px;
	}
}

@keyframes contactAnimation3 {
	0% {
		margin-left: -1000px;
	}

	100% {
		margin-left: 280px;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: lighten($primary-color, 10);
	color: setTextColor($primary-color);
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
}

h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;

	// Any h1, h2, h3 tag that have class of .lg-heading
	&.lg-heading2 {
		font-size: 5rem;
	}

	// Any h1, h2, h3 tag that have class of .sm-heading
	&.sm-heading2 {
		font-size: 1.5rem;
	}
}

a {
	color: setTextColor($primary-color);
	text-decoration: none;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
}

.text-secondary2 {
	color: $secondary-color;
}

main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		margin-bottom: 50px;
		margin-top: 70px;
		margin-left: 70px;
	}

	div {
		border: 3px solid $secondary-color;
		padding: 20px;
		width: 50%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 40px;

		#icon {
			display: block;
		}

		#label {
			display: none;
		}

		&:hover {
			background: $secondary-color;
			border: 3px solid #fff;

			h1,
			h2,
			h3 {
				// Any h1, h2, h3 tag that have class of .sm-heading
				&.sm-heading2 {
					font-size: 1.3rem;
				}
			}

			#icon {
				display: none;
			}

			#label {
				display: block;

				font-size: 1.3rem;
			}

			@include easeOut();
		}

		&.anim1 {
			animation-name: contactAnimation1;
			animation-duration: 1.5s;
		}

		&.anim2 {
			animation-name: contactAnimation2;
			animation-duration: 1.5s;
		}

		&.anim3 {
			animation-name: contactAnimation3;
			animation-duration: 1.5s;
		}
	}

	@for $x from 1 through 4 {
		div:nth-child(#{$x}) {
			margin-left: 70px * $x;
		}
	}
}

@media screen and (max-width: 880px) {
	// animation
	@keyframes contactAnimation1 {
		from {
			margin-left: -1000px;
		}
		to {
			margin-left: 70px;
		}
	}

	@keyframes contactAnimation2 {
		from {
			margin-right: -1000px;
		}
		to {
			margin-right: 70px;
		}
	}

	@keyframes contactAnimation3 {
		from {
			margin-left: -1000px;
		}
		to {
			margin-left: 70px;
		}
	}

	main {
		align-items: center;

		h1 {
			margin-top: 70px;
			margin-left: 70px;
			margin-right: 70px;
		}

		div {
			border: 3px solid $secondary-color;
			padding: 20px;
			width: 500px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			&:hover {
				#icon {
					display: block;
				}

				#label {
					display: none;
				}
			}
		}

		@for $x from 1 through 4 {
			div:nth-child(#{$x}) {
				margin-left: 70px;
				margin-right: 70px;
			}
		}
	}
}

@media screen and (max-width: 616px) {
	// animation
	@keyframes contactAnimation1 {
		from {
			margin-left: -1000px;
		}
		to {
			margin-left: 70px;
		}
	}

	@keyframes contactAnimation2 {
		from {
			margin-right: -1000px;
		}
		to {
			margin-right: 70px;
		}
	}

	@keyframes contactAnimation3 {
		from {
			margin-left: -1000px;
		}
		to {
			margin-left: 70px;
		}
	}

	main {
		align-items: center;

		h1 {
			margin-top: 70px;
			margin-left: 70px;
			margin-right: 70px;
		}

		div {
			border: 3px solid $secondary-color;
			padding: 20px;
			width: 300px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			&:hover {
				#icon {
					display: block;
				}

				#label {
					display: none;
				}

				h1,
				h2,
				h3 {
					// Any h1, h2, h3 tag that have class of .sm-heading
					&.sm-heading2 {
						font-size: 1.2rem;
					}
				}
			}
		}

		@for $x from 1 through 4 {
			div:nth-child(#{$x}) {
				margin-left: 70px;
				margin-right: 70px;
			}
		}

		h1,
		h2,
		h3 {
			// Any h1, h2, h3 tag that have class of .sm-heading
			&.sm-heading2 {
				font-size: 1.2rem;
			}

			&.lg-heading2 {
				font-size: 2.5rem;
			}
		}
	}
}

@media screen and (max-width: 366px) {
	// animation
	@keyframes contactAnimation1 {
		from {
			margin-left: -1000px;
		}
		to {
			margin-left: 70px;
		}
	}

	@keyframes contactAnimation2 {
		from {
			margin-right: -1000px;
		}
		to {
			margin-right: 70px;
		}
	}

	@keyframes contactAnimation3 {
		from {
			margin-left: -1000px;
		}
		to {
			margin-left: 70px;
		}
	}

	main {
		align-items: center;

		h1 {
			margin-top: 70px;
			margin-left: 70px;
			margin-right: 70px;
		}

		div {
			border: 3px solid $secondary-color;
			padding: 10px;
			width: 200px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			i {
				font-size: 10px;
			}

			&:hover {
				#icon {
					display: block;
				}

				#label {
					display: none;
				}

				h1,
				h2,
				h3 {
					// Any h1, h2, h3 tag that have class of .sm-heading
					&.sm-heading2 {
						font-size: 0.7rem;
					}
				}
			}
		}

		@for $x from 1 through 4 {
			div:nth-child(#{$x}) {
				margin-left: 70px;
				margin-right: 70px;
			}
		}

		h1,
		h2,
		h3 {
			// Any h1, h2, h3 tag that have class of .sm-heading
			&.sm-heading2 {
				font-size: 0.7rem;
			}

			&.lg-heading2 {
				font-size: 1.5rem;
			}
		}
	}
}
