@import "config";
@import "menu";
@import "mobile";

// Select all the elements
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	@include background();
	background: $primary-color;
	color: setTextColor($primary-color);
	height: 100%;
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;

	// Any h1, h2, h3 tag that have class of .lg-heading
	&.lg-heading {
		font-size: 6rem;
	}

	// Any h1, h2, h3 tag that have class of .sm-heading
	&.sm-heading {
		margin-bottom: 2em;
		// topBottom, leftRight
		padding: 0.2rem 1rem;

		// lighten generates a color lighter than the one passed in
		// rgba is adjusting the transparency
		background: rgba(lighten($color: $primary-color, $amount: 10), 0.3);
	}
}

a {
	color: setTextColor($primary-color);
	text-decoration: none;
}

header {
	position: fixed; // always want the header to remain top
	z-index: 2;
	width: 100%;
}

.text-secondary {
	color: $secondary-color;
}

#particles-js {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

main {
	padding: 4rem;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden; // do not display scrollbars
	z-index: 1;

	// only effect child elements of main tag with the class name .icons
	.icons {
		a {
			display: flex;
			flex-direction: row;
			align-items: center;

			&:hover {
				color: $secondary-color;
				// Calling mixin/function
				@include easeOut();
			}
		}
	}
}
