@import "config";
@import "nav";

* {
	margin: 0;
	padding: 0;
}

body {
	background: lighten($primary-color, 10);
	color: setTextColor($primary-color);
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
	width: 100%;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

footer {
	padding: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

main {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	margin-top: 70px;
	margin-left: 200px;
	margin-right: 200px;
	z-index: 2;
}

h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;

	// Any h1, h2, h3 tag that have class of .lg-heading
	&.lg-heading {
		font-size: 5rem;
	}

	// Any h1, h2, h3 tag that have class of .sm-heading
	&.sm-heading {
		font-size: 2rem;

		// lighten generates a color lighter than the one passed in
		// rgba is adjusting the transparency
		background: rgba(lighten($color: $primary-color, $amount: 10), 0.4);
	}
}

.text-secondary {
	color: $secondary-color;
}

.project-container {
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 
    'title title title title title' 
	'img img desc desc desc'
}

.project-container2 {
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 
    'title title title title title' 
	'desc desc desc img img'
}

.project-title {
	grid-area: title;

	hr {
		margin-top: 2px;
		padding: 0.6px;
		background-color: white;
		border-color: white;
	}
}

.project-image {
	grid-area: img;
	height: 290px;
	width: 510px;
	align-self: center;
}

.project-desc {
	grid-area: desc;
	align-self: center;
	font-size: 1.2em;
	text-align: justify;
}

.project-link {
	color: $secondary-color;
	text-decoration: none;
}

@media screen and (max-width: 1356px) {

	main {
		margin-left: 60px;
		margin-right: 60px;
	}

	.project-container {
		display: grid;
		grid-gap: 10px;
		grid-template-areas: 
		'title' 
		'img'
		'desc';
	}

	.project-container2 {
		display: grid;
		grid-gap: 10px;
		grid-template-areas: 
		'title' 
		'img'
		'desc';
	}

	.project-image {
		grid-area: img;
		justify-self: center;
		height: 290px;
		width: 510px;
	}

	.project-desc {
		font-size: 1.1em;
	}

	// Headings
	h1,
	h2,
	h3 {
		margin: 0;
		font-weight: 400;

		// Any h1, h2, h3 tag that have class of .lg-heading
		&.lg-heading {
			font-size: 3rem;
		}

		// Any h1, h2, h3 tag that have class of .sm-heading
		&.sm-heading {
			font-size: 1.6rem;

			// lighten generates a color lighter than the one passed in
			// rgba is adjusting the transparency
			background: rgba(lighten($color: $primary-color, $amount: 10), 0.4);
		}
	}
}

@media screen and (max-width: 700px) {

	main {
		text-align: center;
		margin-left: 10px;
		margin-right: 10px;
	}

	.project-container {
		display: grid;
		grid-gap: 10px;
		grid-template-areas: 
		'title' 
		'img'
		'desc';
	}

	.project-container2 {
		display: grid;
		grid-gap: 10px;
		grid-template-areas: 
		'title' 
		'img'
		'desc';
	}

	.project-image {
		grid-area: img;
		height: 290px;
		width: 100%;
	}

	.project-desc {
		font-size: 1em;
	}
	
	// Headings
	h1,
	h2,
	h3 {
		// Any h1, h2, h3 tag that have class of .lg-heading
		&.lg-heading {
			font-size: 1.5rem;
			margin-bottom: 0.4em;
		}

		// Any h1, h2, h3 tag that have class of .sm-heading
		&.sm-heading {
			font-size: 1.2rem;
		}
	}

	footer {
		font-size: 13.5px;
	}
}
